extends layout

block content
    .card.text-success.bg-dark.mb-3(style="width: 30%;")
      .card-body
        form(action=`/edit/${blog._id}` method='post')
          input(type='text' name='title' placeholder='title' value = blog.title)
          br
          textarea(name='text' placeholder='') #{blog.text}
          br
          button(type='submit') Submit


        ul.nav.justify-content-end.nav-pills.card-header-pills.text-primary
          li.nav-item
          a.nav-link(href='/list')
            i.fas.fa-ban  
          li.nav-item
          a.nav-link(href='/list')
            i.fas.fa-trash-alt



      script(src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js")